#title{
    background-image: url('../assets/laboratoire_telecom.jpg');
    text-align: center;
    padding: 150px;
    color: lightgray;
    font-size: 3.5em;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 0.1em;
}