
  <form id="connexion">
    <h4 class="title-form">Connexion</h4>
    <div>
      <label class="label-form" for="email">Email :</label>
      <input class="input-form" required placeholder="Email" type="text">
    </div>
      <label class="label-form" for="password">mot de passe :</label>
      <input class="input-form" required placeholder="Password">
    <div>
      <button class="submit-form" type="submit">Se connecter</button>
    </div>
    <a class="nav-link" routerLink="/inscription">Vous n'êtes pas encore client ? Inscription ici !</a>
  </form>
